body
{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding:0px;
	font-family: Tahoma, arial, sans-serif;
	font-size: 10pt;
	background-color: #ffffff;
	color: #000000;
}
img
{
	border: none;
}
a:link,a:active,a:visited
{
	color: #990000;
	text-decoration: none;
}
a:hover
{
	color: #990000;
	text-decoration: underline;
}
.head
{
	background-color: #ffbbbb;
}
.row1
{
	background-color: #ffeeee;
}
.row2
{
	background-color: #ffdddd;
}
.footer
{
	font-size: 8pt;
	text-align: center;
}
.quicknav
{
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
}
.themechanger
{
	font-size: 8pt;
	text-align: left;
	padding: 0px;
	margin: 0px;
}
.langchanger
{
	font-size: 8pt;
	text-align: left;
	padding: 0px;
	margin: 0px;
}
.title
{
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
	color: black;
}
table
{
	font-size: 8pt;
	border: 0px none;
	width: 100%; 
	border-spacing: 0px 0px;
	border-collapse: collapse;
}
table.source
{
	border: 0px none;
	width: 100%; 
	border-spacing: 0px 0px;
	border-collapse: collapse;
}
td
{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
}
td.min
{
	width: 1px;
}
li
{
	font-family: 'Courier New', Courier, monospace; 
	font-size: 12px;
	font-weight: normal;
}
