body
{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding:0px;
	font-family: Verdana, arial, sans-serif;
	font-size: 10pt;
	background-color: #ffffff;
	color: #000000;
}
img
{
	border: none;
}
a:link,a:active,a:visited
{
	color: #6666ff;
	text-decoration: none;
	font-weight: bold;
}
a:hover
{
	color: #9966ff;
	text-decoration: underline;
	font-weight: bold;
}
.head
{
	background-color: #cccccc;
}
.footer
{
	font-size: 8pt;
	text-align: center;
}
.quicknav
{
	font-size: 10pt;
	text-align: left;
}
.title
{
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
}
.row1
{
	background-color: #ffffff;
}
.row2
{
	background-color: #ddddff;
}
table
{
/*	margin:0px 0px 0px 0px;   */
	font-size: 10pt;
	border: 0px none;
	width: 100%;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}
td
{
	padding: 3px;
	white-space: nowrap;
}
