body
{
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-right: 3px;
	padding:0px;
	font-family: Tahoma, arial, sans-serif;
	font-size: 10pt;
	background-color: #ffffff;
	color: #000000;
}
img
{
	border: none;
}
a:link,a:active,a:visited
{
	color: #000099;
	text-decoration: none;
}
a:hover
{
	color: #000099;
	text-decoration: underline;
}
.head
{
	background-color: #bbbbff;
}
.row1
{
	background-color: #eeeeee;
}
.row2
{
	background-color: #ddddff;
}
.footer
{
	font-size: 8pt;
	text-align: center;
}
.quicknav
{
	font-size: 8pt;
	text-align: left;
	font-weight: bold;
}
.title
{
	text-align: center;
	font-size: 18pt;
	font-weight: bold;
	font-style: italic;
	color: black;
}
table
{
	font-size: 8pt;
	border: 0px none;
	width: 100%;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}
td
{
	padding: 3px;
}

.geshi .de1, 
.geshi .de2 
{
	font-family: 'Courier New', Courier, monospace; 
	font-size: 12px;
	font-weight: normal;
} 

.geshi .imp 
{
	font-weight: bold; 
	color: red;
} 

.geshi .kw1 
{
	color: #b1b100;
} 

.geshi .kw2 
{
	color: #000000; 
	font-weight: bold;
} 

.geshi .kw3 
{
	color: #6666cc;
} 

.geshi .co1 
{
	color: #808080; 
	font-style: italic;
} 

.geshi .co2 
{
	color: #808080; 
	font-style: italic;
} 

.geshi .coMULTI 
{
	color: #808080; 
	font-style: italic;
} 

.geshi .es0 
{
	color: #000099; 
	font-weight: bold;
} 

.geshi .br0 
{
	color: #66cc66;
} 

.geshi .st0 
{
	color: #ff0000;
} 

.geshi .nu0 
{
	color: #cc66cc;
} 

.geshi .me1 
{
	color: #006600;
} 

.geshi .me2 
{
	color: #006600;
} 

.geshi .re0 
{
	color: #0000ff;
}
